*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;
}

nav{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: bolder;
    color: white;
}

.gContainer{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 60px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 2px solid;
    text-align: center;
    font-size: 6vw;
    cursor: pointer;
    width: 10vw;
}

.box:hover{
    background-color: rgb(199, 154, 236);
}


.game-info{
    padding-left: 20px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}